.project-show-page img {
  width: 500px;
  height: 500px;
}

.project-show-page {
  margin-top: 64px;
  font-family: Helvetica neue;
}

.project-show-page .title {
  display: flex;
  justify-content: flex-start;
}

.project-show-page div.creator {
  width: 200px;
  height: 150px;
}

.project-show-page h2 {
  /* font-family: Helvetica neue; */
  /* font-family: "lucida grande"; */
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 18px;
}

.project-show-page .subtitle {
  font-size: 20px;
  font-weight: 200;
  color: rgb(115,115,115);
}

section.show-status {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.show-status img {
  padding-right: 18px;
}

.show-status > div {
  margin-left: 18px;
}

.project-show-page .status {
  display: flex;
  flex-direction: column;
}

.project-show-page .status .one {
  font-size: 24px;
}

.project-show-page .status .two {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 80px;
  color: rgb(165,165,165);
}

.project-show-page .status {
  border-top: 3px solid rgb(0,158,118);
  padding-top: 80px;
}

.project-show-page .status .goal {
  color: rgb(0,158,118);
}

.project-show-page .status .all-nothing {
  text-decoration: underline;
  margin-right: 5px;
}

.all-nothing-container span {
  font-size: 12px;
  font-family: Helvetica neue;
}

.project-show-page h3 {
  font-family: Helvetica neue;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 30px;
}

main.description {
  line-height: 2;
  margin-bottom: 80px;
}

.project-show-page .buttons {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.project-show-page button {
  font-family: Helvetica neue;
  border: 1px rgb(213,213,213) solid;
  display: block;
  width: 93.5%;
  padding: 12px;
  height: 16px;
  color: white;
  font-size: 16px;
  height: 18px;
  text-align: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  border-radius: 50px;
}

.project-show-page button:nth-child(2) {
  margin-top: 28px;
}

.edit-button {
  background-color: blue;
}

.edit-button:hover {
  background-color: rgb(0, 0, 125);
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: rgb(125, 0, 0);
}
