.search-page {
  font-family: "lucida grande";
}

.search-form input {
  border: 0;
  width: 100%;
  padding: 36px;
  box-shadow: 3px 3px 5px rgb(200,200,200);
}

.search-page .results {
  margin-top: 30px;
}

.search-page .search-result {
  display: flex;
  justify-content: space-between;
}

.search-page .noresults {
  display: flex;
  flex-direction: column;
}

.search-page .noresults .top-noresults-text {
  color: rgb(30,30,30);
}

.search-page .noresults .bottom-noresults-text {
  color: rgb(130,130,130);
  margin-top: 10px;
  font-weight: 150;
  font-family: Helvetica;
}

.search-page img {
  width: 120px;
  height: 70px;
}

section.project-index-display li {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

section.project-index-display li:hover {
  /* box-shadow: 3px 3px 5px rgb(200,200,200); */
  box-shadow: 0 4px 2px -2px rgb(200,200,200);
}

.search-page section.project-index-display li > div {
  display: flex;
  justify-content: flex-start;
}

.search-page .project-detail {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 10px;
  font-family: Helvetica neue;
  font-size: 16px;
  font-weight: 300;
}
