<!DOCTYPE html>
<html>
  <head>
    <title>Kicks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
